[Unit]
Description=Create snapshot of /srv/jupyter/notebooks
Requires=srv-jupyter.mount
After=srv-jupyter.mount

[Service]
ExecStart=/bin/sh -c 'btrfs subvolume snapshot -r /srv/jupyter/notebooks/ /srv/jupyter/.snapshots/$(date -Iseconds)'
Type=oneshot
ProtectSystem=full
ProtectHome=yes
PrivateNetwork=yes
PrivateDevices=yes
PrivateTmp=yes
